.input__wrapper {
    display: grid;
    gap: 0;
    grid-template-columns: auto max-content max-content;
    margin-bottom: 2rem;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px gray;
}

.input__control {
    width: 100%;
    min-height: 3rem;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 0;
    
    &:focus {
        outline: none;
    }
}

.input__button {
    border: none;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: black;
    font-size: 1.5rem;
}