.card {
    background-color: white;
    padding: 2rem;
    box-shadow: 1px 1px 5px gray;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;

    &:global(.normal) {
        background-color: var(--normal);
    }

    &:global(.fighting) {
        background-color: var(--fighting);
    }

    &:global(.flying) {
        background-color: var(--flying);
    }

    &:global(.poison) {
        background-color: var(--poison);
    }

    &:global(.ground) {
        background-color: var(--ground);
    }

    &:global(.rock) {
        background-color: var(--rock);
    }

    &:global(.bug) {
        background-color: var(--bug);
    }

    &:global(.ghost) {
        background-color: var(--ghost);
    }

    &:global(.steel) {
        background-color: var(--steel);
    }

    &:global(.fire) {
        background-color: var(--fire);
    }

    &:global(.water) {
        background-color: var(--water);
    }

    &:global(.grass) {
        background-color: var(--grass);
    }

    &:global(.electric) {
        background-color: var(--electric);
    }

    &:global(.psychic) {
        background-color: var(--psychic);
    }

    &:global(.ice) {
        background-color: var(--ice);
    }

    &:global(.dragon) {
        background-color: var(--dragon);
    }

    &:global(.dark) {
        background-color: var(--dark);
    }

    &:global(.fairy) {
        background-color: var(--fairy);
    }
    .card__header {
        font-weight: bold;
        font-size: 1.4rem;
        margin-bottom: 2rem;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
        
    }

    .card__body {
        display: flex;
        gap: 1.2rem 0;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            gap: 0 1.5rem;
           flex-direction: row;
        }
    }

    .card__image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0.5;
    }

    .card__stats {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        text-align: center;
        flex-grow: 1;

        @media screen and (min-width: 768px) {
            text-align: left;
            grid-template-columns: repeat(2, 1fr);
        }

        span {
            font-size: 1.1rem;
        }

        .info__stats__label {
            font-weight: bold;
        }
    }
}

    