.poke__header {
    background-color: #ff6e6e;
    padding: 1rem;
}

.poke__logo {
    display: flex;
    gap: 0 0.5rem;
    align-items: center;
    font-weight: bold;
    font-weight: 1.5rem;

    span {
        color: white;
    }
}